body {
    background-color: rgb(1, 19, 36);
    color: #f6f6f6;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #22D4FD;
}

a {
    color: aliceblue;
}

img {
    align-content: right;
}