body {
    background-color: rgb(1, 19, 36);
    color: antiquewhite;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2{
    color: rgb(42, 108, 230);
}
a{
    color: aliceblue;
}